/*GENERAL*/

body {
	background-color: #DCDCDC;
}

/*general*/


h1 {
	font-family:"Montserrat" sans-serif;
	color: #BA0C2F;
	font-weight: 700; 
}

.jumbotron {
  background-image: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(32,99,155,0.5) 52%, rgba(60,174,163,1) 100%),url("../img/escritorio.jpg");
  background-size: cover;
  border-radius: 0 !important;
}


.titulojumbo {
  color: #f7f7f8;
  font-size: 60px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 5px #000000;

}

.jumbop {
  font-size:25px !important;  
  color:white;
  text-shadow: 2px 2px 5px #000000;
}

.portfolio-item {
  margin-bottom: 20px;
}
/* NAVEGADOR*/


.logohead {
  height: 40px;
  margin:20px;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:#141275; 
  color: #FFF;
  overflow: hidden;
  height: 50px;
  padding: 1em;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}


.menu li a {
	text-decoration: none;
	color:white;
	font-size: 16px;
	letter-spacing: -0,5px;
	font-family: "Montserrat" sans-serif;
}


.menu li a:link {color: hsl(0, 0%, 100%);}
.menu li a:visited  {color: hsl(0, 0%, 100%);}
.menu li a:active {color: hsl(0, 0%, 100%);}
.menu li a:hover {color: #D3D3D3 }
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #141275;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid  	#141275;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #06038D;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid  	#141275;
  }
}



/*INDEX*/


.container{
	margin-bottom: 30px;
}

.card-img-top{
	size:100%;
}

.card-text{
	font-family: "Fira Sans" sans-serif;
	font-size: 16px;
}

.card-title {
	font-family: "Montserrat" sans-serif;
	font-weight: 700;
	color: #06038D;
}

.titulo {
	grid-area: titulo;
	color: #0075b8;
	font-size: 70px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	margin-top:20px;
	margin-bottom:20px;
}

.textoplano {
	font-weight: 300;
	font-family: "Fira sans" sans-serif;
	color: gray;
	font-size: 14px;
	text-align: left;
}


.bg-secondary {
background-color:#BA0C2F !important;
}

/*CARRUSEL*/

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.cursos {
	margin-top: 30px;
}



.calltoaction {
  font-family: "fira sans" sans-serif;
  font-size: 24px;
}


/*CURSOS*/

.mb-0 button{
	text-decoration:none !important;
	font-weight: 700 !important;
	font-family: "Fira Sans";
	font-size: 24px;
	color: white;
}

.mb-0 button:hover
	{
		text-decoration:none !important;
		font-weight: 700 !important;
		font-family: "Fira Sans";
		font-size: 24px;
		color: white;
		text-shadow: 1px 1px 2px black;
		}

.card-header {
	background: #1A49D3;
}


/*ANGLIA*/

.angliadetalle {
	margin-top: 40px;
}


/*FORMULARIO*/

form {
	font-family: "Montserrat";
}

label{
	font-weight: 700 ;
	font-family: "Fira Sans";
	font-size: 18px;
	color: #06038D;
	margin:5px;
}

.enviar {
	margin-top:15px;
	display:block;
}

.btn-primary{
	background-color: #BA0C2F;
	font-weight: 700;
	font-family: "Fira sans";
	width: 100%;
	color: white;
}


.btn-primary:hover {
	background-color: #940927;
	font-weight: 700;
	font-family: "Fira sans";
	width: 100%;
}

/* FOOTER*/

footer {
	background-color: #444242;
	width: 100% !important;
	bottom: 0;
	left:0;
	right:0;
	margin-top:25px;/
}


.fab {
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	color: #f7f7f8;
}

.textofooter {
  color:white;
  font-family: "Fira sans" sans-serif;
  font-size: 12px;
}